<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
<a class="navbar-brand text-uppercase" href="#">SunSplash</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link text-uppercase" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="/about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="/category">Category</a>
    </li>
    </ul>
</div>
<div class="float-right">
    <i class="fa fa-facebook-square" style="font-size:24px"></i>
</div>
</nav>
